.carousel-indicators {
  bottom: -3rem !important;
}

@media (max-width: 991px) {
  .carousel-indicators {
    display: none !important;
  }
}

.carousel-indicators [data-bs-target] {
  height: 5px !important;
  background-color: gray !important;
}

.carousel-indicators [data-bs-target].active {
  background-color: #024df5 !important;
}

.carousel-control-prev {
  display: none !important;
}

.carousel-control-next {
  display: none !important;
}
