.carousel-indicators {
  bottom: -30px !important;
}

.carousel-indicators [data-bs-target] {
  height: 5px !important;
  background-color: gray !important;
}

.carousel-indicators [data-bs-target].active {
  background-color: #024df5 !important;
}

.carousel-control-prev {
  display: none !important;
}

.carousel-control-next {
  display: none !important;
}
