.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.nav-desktop {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-desktop .nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

.nav-desktop .nav-link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.header-mobile {
  display: none;
  cursor: pointer;
}

.nav-mobile {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-mobile .nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.nav-mobile .nav-link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.nav-link:hover {
  color: #024df5 !important;
}

@media (max-width: 1110px) {
  .nav-desktop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
}
